.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(14, 50, 0, 0.8), rgba(16, 50, 0, 0.8)), url(sunflower.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 8px;
}
.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #00a01b;
    position: relative;
}
.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #00a01b;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%);
}

.input-field{
    background: #eaeaea;
    margin: 15px 0px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5; /*not vital can be deleted and no effect  */
    overflow: hidden;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}
.input-field i {
    margin-left: 15px;
    color: #999;
}

form {
    text-align: left;
    font-size: 13px;
}

form p a {
    text-decoration: none;
    color: #00a030;
    font-size: large;
    cursor: pointer;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button{
    flex-basis: 48%;
    background: #00a01b;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
    font-size: 1rem;
}

.input-group{
    height: 280px;
}

.btn-field button.disable{
    background: #eaeaea;
    color: #00a01b;
    font-size: 1rem;
}